.env
HOME/
data/
LOGS/
__pycache__/
*.pyc
*.pyo
.venv/
venv/
node_modules/
*.swp
*.swo
.DS_Store
coverage/
.nox/
.tox/
dist/
build/
*.egg-info/
pip-log.txt
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
